alembic==1.7.7
attrs==21.4.0
banal==1.0.6
dataset==1.5.2
datatest==0.11.1
greenlet==1.1.2
importlib-metadata==4.11.3
importlib-resources==5.6.0
iniconfig==1.1.1
Mako==1.2.0
MarkupSafe==2.1.1
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.32
tomli==2.0.1
zipp==3.7.0
